Cocodrilo/Cocodrilo/bin/
Cocodrilo/Cocodrilo/obj/
Cocodrilo/Cocodrilo_GH/obj/
Cocodrilo/Cocodrilo_GH/bin/
Cocodrilo/.vs/
Cocodrilo/.vs/
Cocodrilo/Cocodrilo/release
Cocodrilo/CppWrapper/res
Cocodrilo/CppWrapper/x64
Cocodrilo/packages
Cocodrilo/x64

